<?xml version="1.0"?>
<configuration>
  <system.web>

    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

      <httpRuntime targetFramework="4.5.2" />

  </system.web>

</configuration>
